page-add-type {
        .header{
            padding: 12px;
            font-size:1.2em;
        }
        // .idname{
        //     padding: 
        // }
        .button-small-md {
            height: 1.5em;
            font-size: 1.3rem;
        }
}
